service: sls-multiservice-ex-fe
frameworkVersion: '2 || 3'

provider:
  name: aws
  runtime: nodejs14.x
  lambdaHashingVersion: '20201221'
  region: ${opt:region, self:custom.defaultRegion}
  stage: ${opt:stage, self:custom.defaultStage}
  memorySize: 512
  timeout: 10
  logRetentionInDays: 90
  logs:
    httpApi: true
  httpApi:
    # metrics: true # Enable if you need
    cors: true

package:
  individually: true

plugins:
  - serverless-dotenv-plugin
  - serverless-bundle
  - serverless-offline

custom:
  defaultStage: dev
  defaultRegion: ${env:AWS_REGION}
  bundle:
    packager: yarn
    tsConfig: ../../tsconfig.json
    caching: false
    linting: false
  serverless-offline:
    httpPort: 3000
    noPrependStageInUrl: true
  dotenv:
    path: ../../env

functions:
  backend:
    handler: src/handler.handler
    events:
      - httpApi:
          path: '/{proxy+}'
          method: '*'
